<%= form_for :new, :url => { :action => "create" }  do |f|  %>
   <%= f.text_field  :name %>
   <%=f.text_field :price %>
   <%= f.submit "Add item" %>
<%end%>

<table>
  <% @items.each do |item| %>

<tr><td> <%= item.id %></td><td>  <%= item.name %> </td><td> <%= item.price %></td>
  <td>DELETE <%= button_to "Delete this item", catalog_delete_path(item.name),  method: :delete %></td></tr>
<% end %>
</table>
