<div id='loginbar'>
<%= link_to 'Log In or Sign Up here', new_user_session_path %>
</div>
<div id='main'>
  <div id='indexhead'>


<div>
          <h1>NZer0 Shopping Mall </h1>
<h2>Gadgets, Prototyping Boards, EV accessories we have it all! </h2>

<p>Arduino Boards/Cases</p>
<p>Raspberry Pi Boards/Cases/Cards</p>
<p>GPIOs</p> </div>
</div>

<div> <table id=homepage>
  <tr><th>Image<br> (representative only)</th><th>Name</th><th>Description</th><th>Price ($NZD)</th></tr>
    <% @items.each do |item| %>
<tr>    <%if item.image!=nil%>
  <td>                              <%= image_tag(item.image, :size => "135x125")%> </td>
          <% else %>
  <td>                               <%= image_tag("noi.jpeg", :size=>"135x125") %> </td>
          <%end%>
<td><h2> <%= item.name %></h2> </td>
<td><h3> <%=item.description %></h3></td>
<td> <h2>$ <%= item.price %></h2></td></tr>
<% end %>
</table>
</div>
<div style='height:250px'></div>
</div>
